## 10 ДЗ Кузьменко 
Библиотека Pandas

**Задание 1**
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

у меня есть два csv файла. один с фильмами. а второй с оценками пользователей.
наверное, можно начать с оценок.
1. считать файл с оценками
2. по столбцу с оценкой сделать сводную. какой ид фильма набрал больше всего оценок 5
3. считать файл с фильмами
4. найти по ид фильм

In [1]:
# импортировать пандас
import pandas as pd

In [4]:
# импорт данных из файла в датафрейм
data = pd.read_csv('ratings.csv')

In [5]:
# посмотреть, как выглядят данные
data.head(30)

    userId  movieId  rating  timestamp
0        1        1     4.0  964982703
1        1        3     4.0  964981247
2        1        6     4.0  964982224
3        1       47     5.0  964983815
4        1       50     5.0  964982931
5        1       70     3.0  964982400
6        1      101     5.0  964980868
7        1      110     4.0  964982176
8        1      151     5.0  964984041
9        1      157     5.0  964984100
10       1      163     5.0  964983650
11       1      216     5.0  964981208
12       1      223     3.0  964980985
13       1      231     5.0  964981179
14       1      235     4.0  964980908
15       1      260     5.0  964981680
16       1      296     3.0  964982967
17       1      316     3.0  964982310
18       1      333     5.0  964981179
19       1      349     4.0  964982563
20       1      356     4.0  964980962
21       1      362     5.0  964982588
22       1      367     4.0  964981710
23       1      423     3.0  964982363
24       1      441     4.0  964980868
25       1      457     5.0  964981909
26       1      480     4.0  964982346
27       1      500     3.0  964981208
28       1      527     5.0  964984002
29       1      543     4.0  964981179

In [7]:
# тип данных у нашего датафрейма
type(data)

pandas.core.frame.DataFrame

In [8]:
# количество строк в датафрейме
len(data)

100836

In [9]:
# основная информация, сведения
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
# мне только шапку
data.head(1)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703

In [10]:
# Фильтр. можно выбрать только пару столбцов. меня интересуют ид фильма и оценка
data[['movieId', 'rating']].head(10)

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0
5       70     3.0
6      101     5.0
7      110     4.0
8      151     5.0
9      157     5.0

In [18]:
# мне нужно посчитать только оценки 5.0 для каждого фильма.

# надо сначала отобрать строки с 5.0, отбираем только те, которые равны 5.0
# потом уже группирую. groupby. и считаю через size. сортирую по значениям false - по убыванию
# прошу вывести только 1 строку

data[data['rating'] == 5.0].groupby('movieId').size().sort_values(ascending= False).head(1)

movieId
318    153
dtype: int64

In [19]:
# теперь нужно импортировать данные из второго файла в датафрейм
movies_list = pd.read_csv('movies.csv')

In [20]:
# посмотреть, как выглядят данные
movies_list.head(30)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama

In [21]:
# найти фильм с ид 318

movies_list[movies_list['movieId'] == 318].head(1)

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

***УРА у меня получилось!!***

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

страны: Латвия, Литва и Эстония n\
категории: 4, 12 и 21
период с 2005 по 2010 год
Не учитывайте в расчётах отрицательные значения quantity

In [ ]:
Примерный план - 
# отобрать интересующие страны: 
    Латвия, Литва и Эстония
# убрать 
отрицательные значения quantity
# отобрать только нужные категории: 
категории: 4, 12 и 21
# по столбцу год выбрать период 
период с 2005 по 2010 год
# все суммировать 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. 
Не учитывайте в расчётах отрицательные значения quantity.

In [1]:
# импортировать пандас
import pandas as pd

In [45]:
# импорт данных из файла в датафрейм
data_2 = pd.read_csv('power.csv')

In [46]:
# посмотреть, как выглядят данные
data_2.head(30)

    country  year  quantity  category
0   Austria  1996       5.0         1
1   Austria  1995      17.0         1
2   Belgium  2014       0.0         1
3   Belgium  2013       0.0         1
4   Belgium  2012      35.0         1
5   Belgium  2011      25.0         1
6   Belgium  2010      22.0         1
7   Belgium  2009      45.0         1
8   Czechia  1998       1.0         1
9   Czechia  1995       7.0         1
10  Finland  2010       9.0         1
11  Finland  2009      13.0         1
12  Finland  2008      39.0         1
13  Finland  2007      21.0         1
14  Finland  2006       0.0         1
15  Finland  2005       0.0         1
16  Finland  2004       0.0         1
17  Finland  2003       0.0         1
18  Finland  2002       0.0         1
19  Finland  2001       0.0         1
20  Finland  2000       0.0         1
21  Finland  1999       0.0         1
22  Finland  1998       0.0         1
23  Finland  1997       0.0         1
24  Finland  1996       0.0         1
25  Finland  1995       3.0         1
26   France  2014     119.0         1
27   France  2013     102.0         1
28   France  2012      62.0         1
29   France  2011      55.0         1

In [5]:
# основная информация, сведения
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [47]:
# мне только шапку
data_2.head(1)

   country  year  quantity  category
0  Austria  1996       5.0         1

In [48]:
# какие там страны есть в этом списке. найдем уникальные значения
data_2['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [8]:
# Фильтр. мне нужны страны: Латвия, Литва и Эстония
# найдем как называются в этом датафрейме
# фильтр на подстроку - смотрим все страны, содержащие в названии 'tv' и только уникальные значения.
data_2[ data_2['country'].str.contains('tv', case=False) ]['country'].unique()

array(['Latvia'], dtype=object)

In [10]:
# содержащие в названии 'lit' и только уникальные значения.
data_2[ data_2['country'].str.contains('lit', case=False) ]['country'].unique()

array(['Lithuania'], dtype=object)

In [49]:
# содержащие в названии 'ston' и только уникальные значения.
data_2[ data_2['country'].str.contains('ston', case=False) ]['country'].unique()

array(['Estonia'], dtype=object)

In [50]:
# фильтруем только страны
# Фильтр на несколько условий сразу
# | - условие ИЛИ
# & AND
# () | (() | () & ())
filtered_countries = data_2[ (data_2['country']=='Latvia') | (data_2['country']=='Lithuania') | (data_2['country']=='Estonia')]
filtered_countries.head(30)

        country  year  quantity  category
373   Lithuania  2014      39.0         1
374   Lithuania  2013     192.0         1
375   Lithuania  2012     196.0         1
376   Lithuania  2011     171.0         1
377   Lithuania  2010     158.0         1
378   Lithuania  2009     158.0         1
379   Lithuania  2008     100.0         1
380   Lithuania  2007     105.0         1
956   Lithuania  2014       0.0         1
957   Lithuania  2013       0.0         1
958   Lithuania  2012       0.0         1
959   Lithuania  2011       0.0         1
960   Lithuania  2010       0.0         1
961   Lithuania  2009       3.0         1
962   Lithuania  2008       9.0         1
963   Lithuania  2007       1.0         1
1154  Lithuania  2014      -2.0         1
1155  Lithuania  2013      -1.0         1
1156  Lithuania  2012       3.0         1
1157  Lithuania  2011      -7.0         1
1158  Lithuania  2010      -1.0         1
1159  Lithuania  2009       0.0         1
1160  Lithuania  2008       6.0         1
1161  Lithuania  2007      -6.0         1
1600  Lithuania  2014      41.0         1
1601  Lithuania  2013     193.0         1
1602  Lithuania  2012     193.0         1
1603  Lithuania  2011     178.0         1
1604  Lithuania  2010     159.0         1
1605  Lithuania  2009     161.0         1

In [13]:
filtered_countries['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [15]:
# количество строк
len(filtered_countries)

27306

In [20]:
# фильтры по номеру строки  из data_2
data_2.loc[16000:16005]

                      country  year  quantity  category
16000  Lao People's Dem. Rep.  2007      11.0         4
16001  Lao People's Dem. Rep.  2006      11.0         4
16002  Lao People's Dem. Rep.  2005      11.0         4
16003  Lao People's Dem. Rep.  2004      11.0         4
16004  Lao People's Dem. Rep.  2003      10.0         4
16005  Lao People's Dem. Rep.  2002      10.0         4

In [51]:
# фильтруем категории: 4, 12 и 21

filtered_countries = filtered_countries[ (filtered_countries['category']== 4) | (filtered_countries['category']== 12) | (filtered_countries['category']== 21)]
filtered_countries.head(30)

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
10621    Estonia  2004       1.0         4
10622    Estonia  2003       1.0         4
10623    Estonia  2002       0.0         4
10624    Estonia  2001       1.0         4
10625    Estonia  2000       1.0         4
10626    Estonia  1999       1.0         4
10627    Estonia  1998       1.0         4
10628    Estonia  1997       1.0         4
10629    Estonia  1996       1.0         4
10630    Estonia  1995       1.0         4
10631    Estonia  1994       1.0         4
10632    Estonia  1993       1.0         4
10633    Estonia  1992       1.0         4
11156  Lithuania  2008       1.0         4
11157  Lithuania  2007       0.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4
11160  Lithuania  2004       1.0         4
11161  Lithuania  2003       1.0         4
11162  Lithuania  2002       1.0         4
12755    Estonia  2008       1.0         4
12756    Estonia  2007       0.0         4
12757    Estonia  2006       0.0         4
12758    Estonia  2005       1.0         4
12759    Estonia  2004       1.0         4
12760    Estonia  2003       1.0         4

In [52]:
# по столбцу год выбрать период период с 2005 по 2010 год

filtered_countries = filtered_countries[ (filtered_countries['year']> 2004) & (filtered_countries['year']< 2011) ]
filtered_countries.head(30)

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11157  Lithuania  2007       0.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4
12755    Estonia  2008       1.0         4
12756    Estonia  2007       0.0         4
12757    Estonia  2006       0.0         4
12758    Estonia  2005       1.0         4
13294  Lithuania  2008       1.0         4
13295  Lithuania  2007       0.0         4
13296  Lithuania  2006       1.0         4
13297  Lithuania  2005       1.0         4
14647     Latvia  2010       0.0         4
14648     Latvia  2009       0.0         4
14649     Latvia  2008       0.0         4
14650     Latvia  2007       0.0         4
15525    Estonia  2008       1.0         4
15526    Estonia  2007       0.0         4
15527    Estonia  2006       0.0         4
15528    Estonia  2005       1.0         4
16068  Lithuania  2008       1.0         4
16069  Lithuania  2007       0.0         4
16070  Lithuania  2006       1.0         4
16071  Lithuania  2005       1.0         4
17675    Estonia  2008       1.0         4
17676    Estonia  2007       0.0         4

In [53]:
# убрать отрицательные значения quantity

filtered_countries = filtered_countries[ (filtered_countries['quantity'] > 0) ]
filtered_countries.head(30)

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
11159  Lithuania  2005       1.0         4
12755    Estonia  2008       1.0         4
12758    Estonia  2005       1.0         4
13294  Lithuania  2008       1.0         4
13296  Lithuania  2006       1.0         4
13297  Lithuania  2005       1.0         4
15525    Estonia  2008       1.0         4
15528    Estonia  2005       1.0         4
16068  Lithuania  2008       1.0         4
16070  Lithuania  2006       1.0         4
16071  Lithuania  2005       1.0         4
17675    Estonia  2008       1.0         4
17678    Estonia  2005       1.0         4
18218  Lithuania  2008       1.0         4
18220  Lithuania  2006       1.0         4
18221  Lithuania  2005       1.0         4
19854    Estonia  2008       1.0         4
19856    Estonia  2006       3.0         4
19857    Estonia  2005       6.0         4
20511  Lithuania  2008       1.0         4
20513  Lithuania  2006       1.0         4
20514  Lithuania  2005       1.0         4
21902    Estonia  2006       3.0         4
21903    Estonia  2005       5.0         4
25743    Estonia  2008       1.0         4
25746    Estonia  2005       1.0         4

In [54]:
# посчитаем суммарное потребление

filtered_countries['quantity'].sum()

np.float64(240580.0)

In [ ]:
УРА у меня получилось!!