# Итоговое задание для курса 'Python для анализа данных' #
>Есть мнение: раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов movies_stats.csv. То есть проверить, верно ли, что с ростом года выпуска фильма средний рейтинг становится ниже.
При этом мы не будем затрагивать субъективные факторы этих рейтингов, а пройдёмся по следующему алгоритму:


В переменную **years** запишите список из всех годов с 1950-го по 2010-й.

Напишите функцию **production_year**, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title). Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years;
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;\
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.\
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’\

Посчитайте **средний рейтинг** всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [3]:
# импортировать пандас
import pandas as pd

In [4]:
# импорт данных из файла в датафрейм
data = pd.read_csv('movies_stats.csv')

In [5]:
# основная информация, сведения, размер файла, типы 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   title      100004 non-null  object
 5   genres     100004 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 4.6+ MB

In [28]:
# посмотреть, как выглядят данные в дф сейчас
data.head(30)

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,1978
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,1959
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,1982
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,1992
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,1991
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,1979
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,1996
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,1971
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi,1982
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,1980
15,1,2193,2.0,1260759198,Willow (1988),Action|Adventure|Fantasy,1988
16,1,2294,2.0,1260759108,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,1998
17,1,2455,2.5,1260759113,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller,1986
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,1981
19,1,3671,3.0,1260759117,Blazing Saddles (1974),Comedy|Western,1974
20,2,10,4.0,835355493,GoldenEye (1995),Action|Adventure|Thriller,1995
21,2,17,5.0,835355681,Sense and Sensibility (1995),Drama|Romance,1995
22,2,39,5.0,835355604,Clueless (1995),Comedy|Romance,1995
23,2,47,4.0,835355552,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995
25,2,52,3.0,835356031,Mighty Aphrodite (1995),Comedy|Drama|Romance,1995
26,2,62,3.0,835355749,Mr. Holland's Opus (1995),Drama,1995
27,2,110,4.0,835355532,Braveheart (1995),Action|Drama|War,1995
28,2,144,3.0,835356016,"Brothers McMullen, The (1995)",Comedy,1995
29,2,150,5.0,835355395,Apollo 13 (1995),Adventure|Drama|IMAX,1995

In [7]:
# количество строк в датафрейме
len(data)

100004

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска (год выпуска берём из столбца title). Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years;
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска;
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.

In [8]:
#создаем лист с годами 1950 - 2011 через функцию range и метод tolist
years = pd.date_range(start='1950', end='2011', freq='YE').year.tolist()

In [16]:
years

[1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]

In [30]:
#пишу функцию, она будет перебирать все значения списка. и смотреть, есть ли в названии год. 
#если включает то пишем его в новый столбец, если не включает, то пишем в этот столбец дефолт знач 1900

#беру значение из столбца title преобразую в тип строку, и ищу в ней значения из списка years 
def production_year(row):
    title = str(row['title'])
    for year in years:
        if str(year) in title:
            return year
    return 1900  

data['year'] = data.apply(production_year, axis=1)
data.head(15)

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,1978
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,1959
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,1982
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,1992
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,1991
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,1979
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,1996
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,1971
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi,1982
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,1980

In [44]:
data.head(30)

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,1978
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,1959
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,1982
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,1992
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,1991
10,1,1371,2.5,1260759135,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,1979
11,1,1405,1.0,1260759203,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,1996
12,1,1953,4.0,1260759191,"French Connection, The (1971)",Action|Crime|Thriller,1971
13,1,2105,4.0,1260759139,Tron (1982),Action|Adventure|Sci-Fi,1982
14,1,2150,3.0,1260759194,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,1980
15,1,2193,2.0,1260759198,Willow (1988),Action|Adventure|Fantasy,1988
16,1,2294,2.0,1260759108,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,1998
17,1,2455,2.5,1260759113,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller,1986
18,1,2968,1.0,1260759200,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,1981
19,1,3671,3.0,1260759117,Blazing Saddles (1974),Comedy|Western,1974
20,2,10,4.0,835355493,GoldenEye (1995),Action|Adventure|Thriller,1995
21,2,17,5.0,835355681,Sense and Sensibility (1995),Drama|Romance,1995
22,2,39,5.0,835355604,Clueless (1995),Comedy|Romance,1995
23,2,47,4.0,835355552,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
24,2,50,4.0,835355586,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995
25,2,52,3.0,835356031,Mighty Aphrodite (1995),Comedy|Drama|Romance,1995
26,2,62,3.0,835355749,Mr. Holland's Opus (1995),Drama,1995
27,2,110,4.0,835355532,Braveheart (1995),Action|Drama|War,1995
28,2,144,3.0,835356016,"Brothers McMullen, The (1995)",Comedy,1995
29,2,150,5.0,835355395,Apollo 13 (1995),Adventure|Drama|IMAX,1995

In [42]:
# Удаляем столбец лишний - чтобы заново попробовать 
data.drop( 'rating_by_year', axis=1, inplace=True)

### Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга. ###

- Создать новый дф
- сделать группировку по годам. объединяем фильмы, выпущенные в одном году. 
- ищем средний значение рейтинга для фильмов в отдельно взятом году
- сортируем по убыванию значение рейтинга
- переводим в датафрейм 
- Готово! усредненный рейтинг фильмов по годам.

In [53]:
result = (data.groupby('year')['rating'].mean().sort_values(ascending=False).reset_index())
result.head(10)

   year    rating
0  1957  4.014241
1  1972  4.011136
2  1952  4.000000
3  1954  3.994220
4  1951  3.983539
5  1974  3.978704
6  1962  3.952446
7  1950  3.915254
8  1977  3.905786
9  1964  3.841492

- выводим 10 верхних и 10 нижних строк
- сравнить их средние значения

In [54]:
result.tail(10)

    year    rating
52  1999  3.471692
53  1992  3.466754
54  2001  3.460052
55  2002  3.456297
56  1990  3.449169
57  2005  3.448434
58  2003  3.444777
59  1996  3.426600
60  1997  3.415764
61  2000  3.356104

#### Утверждение: раньше снимали настоящее кино, не то что сейчас. C ростом года выпуска фильма средний рейтинг становится ниже.

In [78]:
top_best = result.iloc[0:10, 0:1].mean()
top_best

year    1961.3
dtype: float64

In [79]:
top_worst = result.tail(10).iloc[:, 0:1].mean()
top_worst

year    1998.5
dtype: float64

### ВЫВОД:

In [81]:
if str(top_best) < str(top_worst):
    print('С ростом года выпуска средний рейтинг фильма действительно становится ниже')
else : 
    print('С ростом года выпуска средний рейтинг фильма существенно не меняется')

С ростом года выпуска средний рейтинг фильма действительно становится ниже