# Даты #

## Задание 1 ##
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

Пример работы программы
Программа должна выводить на экран объекты типа datetime, соответствующие датам в условии задачи.

In [2]:
from datetime import datetime

In [18]:
datetime.now()

datetime.datetime(2026, 1, 3, 14, 41, 15, 778284)

1 Главное при работе с датой и временем в Python —
превратить строку в дату. Для этого нужно:

+ импортировать библиотеку datetime в Python
+ определить способ импорта datetime,
чтобы работа в Python была корректной
+ выбрать нужный формат времени и даты с помощью
datetime.strptime и отформатировать строку

2 После того, как строка в Python стала датой,
с датами можно совершать различные действия

## The Moscow Times — Wednesday, October 2, 2002 ##

In [7]:
Moscow_date = 'Wednesday, October 2, 2002'

In [8]:
type(Moscow_date)

str

In [25]:
Moscow_datetime = datetime.strptime ('Wednesday, October 2, 2002', '%A, %B %d, %Y')

In [26]:
type(Moscow_datetime)

datetime.datetime

In [27]:
Moscow_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [28]:
Moscow_datetime.year

2002

In [29]:
Moscow_datetime.weekday()

2

## The Guardian — Friday, 11.10.13 ##

In [19]:
Guardian_datetime = datetime.strptime ('Friday, 11.10.13', '%A, %d.%m.%y')

In [20]:
Guardian_datetime

datetime.datetime(2013, 10, 11, 0, 0)

## Daily News — Thursday, 18 August 1977 ##

In [23]:
Daily_datetime = datetime.strptime ( 'Thursday, 18 August 1977', '%A, %d %B %Y')

In [24]:
Daily_datetime

datetime.datetime(1977, 8, 18, 0, 0)

## Задание 2 (необязательное) ##
Напишите функцию date_range, которая возвращает   список дат за период от start_date до end_date.   Даты должны вводиться в формате yyyy-mm-dd.   В случае неверного формата или при start_date > end_date должен возвращаться пустой список. (date_range(start_date, end_date))

In [84]:
#удалила все разрозненные блоки, все соединила в одном и оставила его
from datetime import datetime, timedelta #импортирую сразу и дататайм и таймдельта

#пишу функцию с проверкой, задаю названия переменных 
def date_range(start_date: str, end_date: str): 
    date_list = list() #инициализирую пустой список

    # тут блок проверки на ошибку ValueError и одновременно перевожу в объект дататайм
    try:
        start_date_datetime = datetime.strptime (start_date, '%Y-%m-%d')
        end_date_datetime = datetime.strptime (end_date, '%Y-%m-%d')

    except ValueError: 
        return date_list

        #чтобы можно было сранивать, вычитать и тд и тп
    if start_date_datetime > end_date_datetime :  #если дата старта больше чем дата окончания, то ошибка
        return date_list

    else : 
        temporary_dt = start_date_datetime  #а иначе можем наполнять список, заводим новую переменную
        while temporary_dt <= end_date_datetime :   #сравниваем
             #добавляем к списку каждое значение переменной темпорари, но перед этим
             #для добавления переводим его из типа дейттайм в строку.
            date_list.append(temporary_dt.strftime('%Y-%m-%d'))  
            temporary_dt += timedelta(days=1)

        print('Список дат:', date_list)
        return date_list

if __name__ == '__main__':
     #тут проверка. подставляем в функцию значения, и сравниваем с тем, что должно получиться
    assert date_range('2022-01-01', '2022-01-03') == ['2022-01-01', '2022-01-02', '2022-01-03']
    assert date_range('2022-01-03', '2022-01-01') == []
    assert date_range('2022-02-30', '2022-02-31') == []

    print('Верное решение')

Список дат: ['2022-01-01', '2022-01-02', '2022-01-03']
Верное решение

### Получилось!! ###